@model IEnumerable<ShopWeb.Models.Product>

    @foreach (var product in Model)
    {
    <div class="col-lg-3 col-md-6 col-sm-12 product pb-4" data-category-name="@product.Category.Name" data-price="@product.Price">
        <div class="row justify-content-between">
            <div class="col-12">
                <div class="card p-2 my-shadow-md rounded-2" style="height: 450px;">
                    @if (product.onSale)
                    {
                        <img src="~/Images/onsale.png" alt="On sale" style="position: absolute; top: 0; right: 0; width: 150px; height: 80px;">
                    }
                    <img src="@product.ImageUrl" alt="@product.Title" class="mx-auto rounded my-shadow-sm" style="width: 100%;max-width:300px; height: 200px; object-fit:fill" />
                    <div class="" style="height: auto;">
                        <div class="mt-2 pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-center">@product.Title</p>
                            <p class="card-title text-warning text-center"><b>@product.Maker</b></p>
                            <p class="card-title text-warning text-center"><b>@product.Category.Name</b></p>
                            <p class="card-title text-warning text-center"><b>@product.RealishDate.Month/@product.RealishDate.Year</b></p>
                        </div>
                        <div class="pl-1">
                           
                            @if (product.RealishDate > DateTime.Now)
                            {
                                <div class="text-center text-primary">
                                    <p>Coming Soon</p>
                                </div>
                            }
                            else if (product.Quantity == 0)
                            {
                                <div class="text-center text-danger">
                                    <p>Out of stock</p>
                                </div>
                            }
                            else if (product.PublishPrice > product.Price)
                            {
                                <p class="text-dark h5 text-dark opacity-75 text-center">Price: <del>@product.PublishPrice.ToString("c")</del></p>
                                <p class="text-dark h5 text-dark opacity-75 text-center">NOW only!: <span>@product.Price.ToString("c")</span></p>
                            }
                            else
                            {
                                <p class="text-dark h5 text-dark opacity-75 text-center">Price:<span>@product.Price.ToString("c")</span></p>
                                <p><br /></p>
                            }
                        </div>
                    </div>
                    @if (product.RealishDate > DateTime.Now)
                    {
                        <button onclick="addToWishList('@product.Title')" class="btn btn-danger form-control">
                            Notify when in stock
                        </button>

                    }
                    else
                    {
                        @if (product.Quantity == 0)
                        {
                            <div class="d-flex justify-content-center">
                                <button onclick="addToWishList('@product.Title')" class="btn btn-danger mx-1" style="font-size:11px;">
                                    Notify restock
                                </button>
                                <a id="detailsBtn" asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 mx-1" style="font-size:11px;">
                                    Show More Details
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-center">
                                <a asp-action="AddToCart" asp-route-productId="@product.Id" class="btn btn-success mx-1" style="font-size:11px;">
                                    Add to Cart
                                </a>
                                <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 mx-1" style="font-size:11px;">
                                    Show More Details
                                </a>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
}


    